/* 제일 첫번째 설정, 모든 요소 */
* { 
    box-sizing: border-box;
}

.box {
    width: 480px;
    height: 480px;
    background-color: aqua;
    color: white;
    padding: 40px 50px;
    /* box-sizing: border-box; */
}